* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-color: #1D1F21;
}

.container {
    max-width: 1250px;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 60px 0px;

}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.menu-left h1 {
    font-size: 52px;
    line-height: 57px;
    color: #0293FE;
}

.menu-left p {
    font-size: 18px;
}

.menu-right .btn {
    display: none;
}

.btn {
    margin-top: 60px;
    padding: 20px 80px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: #FFC800;
    color: #855B35;
    cursor: pointer;
}

.video-yt {
    border-radius: 10px;
}

.section-secondary {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(16,213,241,1) 44%, rgba(52,214,212,1) 63%, rgba(61,214,169,1) 81%, rgba(149,218,131,1) 100%, rgba(37,214,224,1) 100%, rgba(215,221,75,1) 100%, rgba(48,214,215,1) 100%, rgba(64,215,202,1) 100%);
}

.original {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
    gap: 80px;
    margin-top: 100px;
    padding-top: 100px;
}

.place {
    font-size: 32px;
    font-weight: 700;
}

.cards {
    display: flex; 
    gap: 150px;
}

.card {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
    gap: 20px;
    font-weight: 300;
    font-size: 10px;
    border-radius: 10px;
    
}

.card img {
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.cities {
    font-size: 32px;
    color: #5f5c6b;
    font-weight: 500;
    font-size: 18px;
}

.nd-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-2 {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 100px;
}

.raiam {
    width: 900px;
    border-radius: 15px;
}

.mp-right {
    gap: 50px;
}

.card-travel {
    padding: 20px 30px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
 
}

.travel-world {
    font-size: 15px;
    line-height: 23px;
}


.liberty-geographic {
    font-size: 18px;
    font-weight: 600;
}

.liberties {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
}


.liberty {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

.section-terciary {
    display: flex;
    gap: 130px;
    margin-bottom: 150px;
}

.mt-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nd-you {
    font-size: 36px;
    max-width: 420px;
    line-height: 44px;
    font-weight: 700;
}

.w-work {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}


.people {
    font-weight: 700;
}

.section-four {
    background-color: #fff;
    color: #333333;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.learn-nd {
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.learn {
    color: #333333;
    font-size: 32px;
    font-weight: 700;
}


.card-class {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card-c {
    background-color: #1D1F21;
    padding-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: min-content;
    text-align: center;
    height: min-content;
}

.card-c:hover {
    background-color: #0293FE;
    transition: 0.6s all;
    transform: scale(1.3);
 
}


.watch {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.plan {
    width: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bonus {
    display: flex;
    justify-content: center;
}

.card-bonus {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.b-card {
    background-color: #4E4B59;
    padding-bottom: 50px;
    border-radius: 10px;
    color: #fff;   
}

.b-img {
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title-bonus {
    font-size: 18px;
    max-width: 200px;
    padding-left: 15px;
}

.details {
    max-width: 200px;
    font-size: 14px;
    font-weight: 300;
    padding: 15px;
}

.subscribe {
    display: flex;
    justify-content: center;
}

.subscribe .btn {
    margin-top: -20px;
    margin-bottom: 50px;
}

.footer {
    background-color: #1D1F21;
    color: #fff;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}

.reserved {
    font-weight: 700;
    font-size: 24px;  
    line-height: 38px;
}

.terms-privacy {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
}



@media (max-width: 667px) {
    .section {
        flex-direction: column;
        padding: 15px;
    }

    .menu-left {
        text-align: center;
    }

    .menu-left h1 {
        font-size: 30px;
        line-height: normal;   
    }

    .btn {
        display: none;
    }

    .menu-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 45px;
    }

    .video-yt {
        width: 355px;
        height: 200px;
    }

    .menu-right .btn {
        display: block;
        padding: 25px 60px;
    }

    .place {

        text-align: center;
        font-size: 27px;
        padding: 40px;
    }
    
    .pass {
        font-weight: 700;
    }

    .about-training {
        text-align: center;
        padding: 40px;
    }

    .cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }


    .container-2 {
        flex-direction: column-reverse;
        
    }

    .mp-right {
        padding: 10px;
    }
    
    .liberties {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .raiam {
        width: 340px;
    }

    .section-terciary {
        flex-direction: column;
        margin-top: -100px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 20px;
        margin-bottom: 50px;
    }

    .reserved, .terms-privacy {
        font-size: 20px;
    }

    .learn {
        text-align: center;
        font-size: 27px;
    }

    .card-class {
        flex-wrap: wrap;
    }

    .card-bonus {
        flex-wrap: wrap;
    }

    .b-card {
        width: 100px;
        padding-bottom: 10px;
    }
    .b-img {
        width: 100px;
    }

    .title-bonus {
        font-size: 13px;
        padding-left: 5px;
    }
    
    .details {
        font-size: 10px;
        padding-left: 5px;
    }

}

@media (max-width: 568px) {
    .video-yt {
        width: 280px;
    }

 
}



